<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="com.wj.entity.StudentMapper">
    　　id ="接口中的方法名"
　　parameterType="传入的参数类型"
　　resultType = "返回实体类对象，使用包.类名"-->

<mapper namespace="com.wj.mapper.StudentMapper">

    <select id="quarry" resultType="student">
          select * from student
        </select>

    <select id="quarrybyid" resultType="student" parameterType="int">
          select * from student where stuno=#{stuno}
        </select>

    <insert id="add" parameterType="student">
         insert into student(stuno,stuname,stuage,gradename) values (#{stuno},#{stuname},#{stuage},#{gradename})
       </insert>

    <update id="update" parameterType="Student">
        update student set stuname=#{stuname} where stuno=#{stuno}
    </update>

    <delete id="delete" parameterType="int">
        delete from student where stuno=#{stuno}
    </delete>

    <select id="quarrystubySQLtag" parameterType="student" resultType="student">
        select stuno,stuname from student
        <where>
            <if test="stuname!=null and stuname!=''">
                and stuname=#{stuname}
            </if>
            <if test="stuage!=null and stuage!=''">
                and stuname=#{stuname}
            </if>
        </where>
    </select>

    <select id="quarryStuWithStunosInGrade" parameterType="grade" resultType="student">
        select * from student
        <where>
              <if test="stuNos!=null and stuNos.size>0">
              <foreach collection="stuNos" open=" stuno in(" close=")" item="stuno" separator=",">
                ${stuno}
              </foreach>
              </if>
        </where>
    </select>

</mapper>
